.app {
  margin-top: 2em;
}

.app > * {
  margin-bottom: 2em;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.error {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions > * {
  margin-right: 1em;
}

.actions > *:last-child {
  margin-right: 0;
}

.actions * {
  font-size: 1.5em;
}

.cell {
  font-size: 3em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: thin solid black;
  border-bottom: thin solid black;
}

.flex-break {
  flex-basis: 100%;
}

/* Border */
.b-left {
  border-left: thick solid black;
}

.b-right {
  border-right: thick solid black;
}

.b-top {
  border-top: thick solid black;
}

.b-bottom {
  border-bottom: thick solid black;
}
